body {
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 30px;
}

h1 {
    font-size: 72px;
    text-decoration: underline;
}

h1.goodbye {
    font-size: 150px;
    color: blue;
    text-decoration: none;
}

form {
    margin: 10px;
}

input{
    margin: 3px;
}

img {
    width: 120px;
    height: 120px;
}