<!DOCTYPE html>
<html>
<head>
    <title>Madlibs Game</title>
    <link rel="stylesheet"  href='static/madlibs.css'>
</head>
<body>
    <h1>Welcome to the madlibs game</h1>
    <h2>Please enter some words:</h2>
    <form action = "/madlib">
        A Person: <input type="text" name="person"><br>
        A Color: 
        <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="yellow">Yellow</option>
        </select><br>
        A Noun: <input type="text" name="noun"><br>
        An adjective: <input type="text" name="adjective"><br>
        An animal: <input type="text" name="animal"><br>
        A country: <input type="text" name="country">
        <input type="submit">
    </form>

</body>
</html>