<!DOCTYPE html>
<html>
<head>
    <title>Madlib!</title>
    <link rel="stylesheet"  href='static/madlibs.css'>
</head>
<body>
    <h1>Here is your madlib:</h1>
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab.
    When {{ person }} went to pick it up, it burst into flames in a totally
    {{ adjective }} way and transformed into a {{animal}}. The king of 
    {{country}} adopted the {{animal}} and everyone lived happily ever after.</p><br><br><br>
    <p>Want to play again?</p>
    <form action="/continue">
    <input type="radio" name="continue" value="yes">Yes
    <input type="radio" name="continue" value="no">No
    <input type="submit">
  </form>
</body>
</html>